/**
*
* Global
*
**/

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, button {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main
{
  background: $colorGrayBackground url(/images/subtle_white_feathers.png) repeat top left;
  min-height: 48em;
}

body {
  font-family: $fontDefault;
  font-size: $fontBase;
  line-height: 1.6250em; /* 26px */
  font-weight: 300; // to thicken it a bit, we need to remove font-smoothing
  color: $colorText;
  position: relative;
  background-color: #FFFFFF;
  box-sizing: border-box;
  min-height: 100%;

  @include baseline-grid();

}

body.open {
  overflow: hidden;
}


body > header {
    text-align: justify;
    background: #222;
    color: #fff;
}

body > header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.logo {
  font-size: 2em;
  font-family: $fontDefault;
  a {
  color: #ebff00;
  text-decoration: none;
  }
}

header > div,
header > div::before,
header nav,
header > div h1 {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

nav {
  color: #f7f7f7;

  a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    
    /* Effect 1: Brackets */
    &::before,
    &::after {
      display: inline-block;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
      -moz-transition: -moz-transform 0.3s, opacity 0.2s;
      transition: transform 0.3s, opacity 0.2s;
    }

    &::before {
      margin-right: 10px;
      content: '[';
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      transform: translateX(20px);
    }

    &::after {
      margin-left: 10px;
      content: ']';
      -webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);
      transform: translateX(-20px);
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      opacity: 1;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      transform: translateX(0px);
    }text-decoration: underline;
  
  }
  .active {
      color: #ebff00;
    &:visited {
      color: #ebff00;
    }
  }
}


.darkbg {
  background: #444;
}

nav a,{
  text-decoration: none;
  color: inherit;
  &:hover,
  &:visited {
    color: inherit;
  }
}

body > header > div {
    height: 100%;
}

body > header > div::before {
    content: '';
    height: 100%;
}

body > header > div h1 {
    padding: 0;
    font-size: 3em;
    font-style: italic;
}

body > header nav a {
    white-space: nowrap;
    display: inline-block;
}

body > header nav a:last-child {
    padding-right: 0;
}


/** Smaller Screens - mobile devices **/
@media screen and (max-width: $wide){

    body > header {
        height: auto;
    }

    body > header > div,
    body > header > div h1,
    body > header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }

    header nav a {
      margin: 5px 10px;
      font-size: 1.00em;
      line-height: 2.5em;
    }

    .contact {
    }
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: $wide) {
  body > header {
    height: 5em;
    padding: 0 15%;
    nav a {
      font-size: 1.25em;
      line-height: 2.5em;
      margin: 15px 15px;
    }
  }

  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
}

pre {
  background: $colorGrayBackground;
  padding: 13px;
}


.main-container {
  padding-top: 2em;
  padding-bottom: 3em;
  @include container(true);
}

.container {
  @include container(true);
}

.container-medium {
  @include medium {
    @include container(true);
  }
}

.container-small {
  @include small-only {
    @include container(true);
  }
}

.content {
  @include wide {
    margin-right: 25.9%; // took this from the grid output - using @extend inside media-query is deprecated, need to figure out a better way to do this.

    & pre {
      margin-right: -25.9%;
    }
  }
}

