.guides-section {
  background: $colorGrayBackground url(/images/swim.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding: $lineHeight 0 $lineHeight*4;
  @include small-only {
    padding: $lineHeight 0;
  }
}

.guides-section > header p,
.guides-section > header h2 {
  color: #fff;
}

