{% extends 'base.html' %}
{% block main %}

<section class="styleguide__feature-spotlight featured">
  <div class="featured-spotlight">
    <div class="container-medium">
      <div class="featured-spotlight__container g--pull-half">
        <div class="featured-spotlight__img">
          <img src="http://1.bp.blogspot.com/-lje-_a86DNo/TaI5xH-HqtI/AAAAAAAAbXE/oUFqVSOJit0/s1600/NRJA+.+8+BLACKS+.+Kurzeme+%25282%2529.jpg" alt="wide image placeholder example">
        </div>

        <div class="container-small">
          <h3 class="xxlarge">
          <strong class="subsection-number">14/08</strong>
            Apceļo Kurzemi</h3>
          <p>Atpūtas brauciens no Saldus. Apmeklējamo objektu skaitā ir Pūres šokolādes muzejs un degustācija, Liliju dārzi un mājas vīnu degustācija, Baskāju taka. Izbaudīsim jūru Kolkā, būs arī zivju degustācija.</p>
          <a href="#ignore-click" class="cta--primary">Vairāk...</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="featured-section">
  <div class="container-medium">

    <ul class="featured-list">
      <li class="featured-list__item clear">
        <div class="container-small">
          <div class="featured-list__content g--half">
            <strong class="subsection-number">17/08</strong>
            <h3>Delfinārijs</h3>
            <p>Izbrauciens no Saldus uz Delfināriju. Delfinārijs, Dinozauru parks, Palangas mols.</p>
            <a href="#ignore-click" class="cta--primary">Vairāk...</a>
          </div>
          <div class="featured-list__img-wrapper g--half g--last">
            <div class="featured-list__img">
              <img src="http://moscow.ru/common/img/uploaded/dolphin.jpg" alt="small image placeholder example">
            </div>
          </div>
        </div>
      </li>
      <li class="featured-list__item clear">
        <div class="container-small">
          <div class="featured-list__content g--half">
            <strong class="subsection-number">23/08</strong>
            <h3>Aglona</h3>
            <p>Brauciens uz Preiļiem un Aglonu, Leļļu karaļvalsts preiļos, Aglonas maizes muzejs (+ īpašās pusdienas), Aglonas Bazilika, Aglonas svētavots.</p>
            <a href="#ignore-click" class="cta--primary">Vairāk...</a>
          </div>
          <div class="featured-list__img-wrapper g--half g--last">
            <div class="featured-list__img">
              <img src="http://sacredsites.com/images/europe/latvia/cathedral-aglona-500.jpg" alt="small image placeholder example">
            </div>
          </div>
        </div>
        <li class="featured-list__item clear">
          <div class="container-small">
            <div class="featured-list__content g--half">
              <strong class="subsection-number">13/09</strong>
              <h3>Tartu</h3>
              <p>Brauciens uz Tartu, kur tiks apskatīta vecpilsēta (kopā ar gidu). Pēc tam rotaļlietu muzejs, AHHA zinātnes centrs, šokolādes darbnīca un 4D Kino.</p>
              <a href="#ignore-click" class="cta--primary">Vairāk...</a>
            </div>
            <div class="featured-list__img-wrapper g--half g--last">
              <div class="featured-list__img">
                <img src="http://remirotravel.lv/content/images/tartu_2_2.jpg" alt="small image placeholder example">
              </div>
            </div>
          </div>
        </li>
      </li>
    </ul>

    


  </div>
</div>

{% endblock %}
