{% extends 'base.html' %}
{% set active_page = 'atputa' %}


{% block main %}
<div class="atputa_title">
  <div class="container">
  <span class="large">Kad nestrādājam, atpūšamies!</span>
  <span class="subtitle">Pievienojies atpūtas braucieniem no Saldus! Sīkākai informācijai zvaniet pa mob. tālruni 26651658 </span>
  </div>
</div>

<section class="styleguide__feature-spotlight featured">
  <div class="featured-spotlight">
    <div class="container-medium">
      <div class="featured-spotlight__container g--pull-half">
        <div class="featured-spotlight__img">
          <img src="/images/getsbijs.jpg" alt="">
        </div>

        <div class="container-small">
          <h3 class="xxlarge">
          <strong class="subsection-number">16.novembrī</strong>
            Lielais Getsbijs</h3>
          <p>Melodrāma „Lielais Getsbijs” Dž.Dž.Džilindžera režijā Liepājas teātrī.</p>
          <!-- <a href="/atputa/lielais&#45;getsbijs" class="cta&#45;&#45;primary">Vairāk...</a> -->
          <span class="subtle">Foto: Liepājas Teātris</span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="featured-section">
  <div class="container-medium">

    <ul class="featured-list">
      <li class="featured-list__item clear">
        <div class="container-small">
          <div class="featured-list__content g--half">
            <strong class="subsection-number">21.decembrī</strong>
            <h3>Ziema Rožu Laukumā</h3>
            <p>Liepājas teātra ziemassvētku koncerts - piedalīsies Liepājas teātra aktieri, kuri dzīvās mūzikas pavadījumā izpildīs liepājnieku vai ar Liepāju cieši saistīto komponistu un izpildītāju dziesmas.</p>
            <!-- <a href="/atputa/ziema&#45;rozu&#45;laukuma" class="cta&#45;&#45;primary">Vairāk...</a> -->
          <span class="subtle">Foto: Liepājas Teātris</span>
          </div>
          <div class="featured-list__img-wrapper g--half g--last">
            <div class="featured-list__img">
              <img src="images/rozu_laukums.jpg" alt="small image placeholder example">
            </div>
          </div>
        </div>
      </li>
      <li class="featured-list__item clear">
        <div class="container-small">
          <div class="featured-list__content g--half">
            <strong class="subsection-number">17.-18.janvārī (2015)</strong>
            <h3>SPA Pērnavā (Igaunija)</h3>
            <p>Atpūta un relaksācija vienā no lielākajiem Igaunijas ārstnieciskajiem SPA centriem.</p>
            <!-- <a href="/atputa/spa" class="cta&#45;&#45;primary">Vairāk...</a> -->
            <span class="subtle">Foto: SPA Estonia</span>
          </div>
          <div class="featured-list__img-wrapper g--half g--last">
            <div class="featured-list__img">
              <img src="/images/spa.jpg" alt="small image placeholder example">
            </div>
          </div>
        </div>
      </li>
      <li class="featured-list__item clear">
        <div class="container-small">
          <div class="featured-list__content g--half">
            <strong class="subsection-number">7.februārī (2015)</strong>
            <h3>Ledus Skulptūru festivāls</h3>
            <p>Jelgavā norisināsies 17. Starptautiskais Ledus Skulptūru festivāls, kas pulcēs vairāk kā trīsdesmit pasaulē atzītus profesionālus skulptorus no dažādām pasaules valstīm. Ledus skulptūru darbi tiks veidoti par tēmu - "Ledus pasaka" ("Ice fairy tale").</p>
            <!-- <a href="/atputa/spa" class="cta&#45;&#45;primary">Vairāk...</a> -->
          </div>
          <div class="featured-list__img-wrapper g--half g--last">
            <div class="featured-list__img">
              <img src="/images/ice.jpg" alt="small image placeholder example">
            </div>
          </div>
        </div>
      </li>
    </ul>


  </div>
</div>

{% endblock %}
