{% extends 'base.html' %}
{% set active_page = 'atputa' %}


{% block main %}


<div class="featured-section">

 <div class="highlight-module  highlight-module--left   highlight-module--learning  ">
    <div class="highlight-module__container  icon-chevron-down ">
        <div class="highlight-module__content   g-wide--push-1 g-wide--pull-1  g-medium--push-1   ">
          <p class="highlight-module__title xlarge">Kad nestrādājam, <span class="xxlarge">atpūšamies!</span></p>
          <p class="highlight-module__text">Pievienojies atpūtas braucieniem no <strong>Saldus</strong>!</p>
          Sīkākai informācijai zvaniet pa mob.tālruni<a href="tel:+37126548867"> 26548867</a>
        </div>
    </div>
</div>

  <div class="container-medium">

    <ul class="featured-list">
    {% for event in events %}

      <li class="featured-list__item clear">
        <div class="container-small">
          <div class="featured-list__content g--half">
            <strong class="subsection-number">{{ event.startDate }}</strong>
            <h3>{{ event.eventName }}</h3>
            <p>{{ event.excerpt }}</p>
            <!-- <a href="/atputa/spa" class="cta&#45;&#45;primary">Vairāk...</a> -->
            <a href="/atputa/{{ event.key.id() }}" class="cta--primary">Vairāk...</a>
          </div>
          <div class="featured-list__img-wrapper g--half g--last">
            <div class="featured-list__img">
              <img src="/serve/th/{{ event.image }}?h=400" alt="{{ event.eventName }}">
            </div>
          </div>
        </div>
      </li>

    {% endfor %}
    </ul>

  </div>
</div>

{% endblock %}
