{% extends 'base.html' %}
{% set active_page = 'pakalpojumi' %}
{% block main %}

<div class="guides-section">
  <header class="container">
    <h2 class="xlarge">Sadzīves pakalpojumi</h2>
    <p>Piedāvājam plašu pakalpojumu klāstu gan privātpersonām, gan juridiskām personām.</p>
  </header>
  <ul class="guides-list container-medium">
    <li class="guides-list__item g--half theme--multi-device-layouts ">
      <div class="primary-content">
        <h3 class="xlarge"><span class="themed">Uzkopšanas darbi</span></h3>
        <ul>
          <li>Logu mazgāšana</li>
          <li>Telpu ikdienas uzkopšana</li>
          <li>Telpu uzkopšana pēc remonta</li>
          <li>Paklāju un mīksto grīdas segumu tīrīšana</li>
        </ul>
      </div>
      <div class="secondary-content">
      </div>
    </li>
    <li class="guides-list__item g--half theme--performance g--last">
      <div class="primary-content">
        <h3 class="xlarge"><span class="themed">Saimnieciskie darbi</span></h3>
        <ul>
          <li>Mēbeļu pārvešana dzīves vietu mainot</li>
          <li>Zāles pļaušana</li>
          <li>Malkas krāmēšana</li>
          <li>Kapu uzkopšana</li>
          <li>Dažādi saimnieciskie darbi pēc vienošanās un iespēju robežās</li>
        </ul>
      </div>
      <div class="secondary-content">
      </div>
    </li>
    <li class="guides-list__item g--half theme--user-input ">
      <div class="primary-content">
        <h3 class="xlarge"><span class="themed">Dažādi pakalpojumi</span></h3>
        <ul>
          <li>Krūzīšu apdruka, krūzītes ar foto</li>
          <li>Gravējumi uz pildspalvām, termosiem u.c.</li>
          <li>Kalendāri ar Jūsu foto</li>
          <li>Izšuvumi un dažādi reklāmu materiāli</li>
          <li>Preču pasūtījumu veikšana</li>
        </ul>
      </div>
      <div class="secondary-content">
      </div>
    </li>
    <li class="guides-list__item g--half theme--introduction-to-media g--last">
      <div class="primary-content">
        <h3 class="xlarge"><span class="themed">Pasākumu organizēšana</span></h3>
        <ul>
          <li>Ekskursiju maršutu izstrāde, plānošana un braucienu koordinēšana</li>
          <li>Teātru un koncertu apmeklējumi</li>
          <li>Sporta spēļu apmeklējumi</li>
          <li>Palīdzība dažādu pasākumu (jubileju, svētku, tematisko vakaru) organizēšanā un koordinēšanā</li>
        </ul>
      </div>
      <div class="secondary-content">
      </div>
    </li>
  </ul>
</div>

{% endblock %}
