{% extends 'base.html' %}
{% block main %}

<div class="guides-section">
  <header class="container">
    <h2 class="xxlarge">Pakalpojumi</h2>
    <p>Piedāvājam plašu pakalpojumu klāstu gan privātpersonām, gan juridiskām personām.</p>
  </header>
  <ul class="guides-list container-medium">
    <li class="guides-list__item g--half theme--multi-device-layouts ">
      <div class="primary-content">
        <h3 class="xlarge"><a href="#ignore-click" title="Go to Multi-Device Layouts" class="themed">Dažāda veida uzkopšanas darbi</a></h3>
        <ul>
          <li>Māju, dzīvokļu un citu telpu uzkopšana</li>
          <li>Logu mazgāšana</li>
          <li>Paklāju un mīksto grīdas segumu tīrīšana</li>
        </ul>
      </div>
      <div class="secondary-content">
      </div>
    </li>
    <li class="guides-list__item g--half theme--performance g--last">
      <div class="primary-content">
        <h3 class="xlarge"><a href="#ignore-click" title="Go to Optimizing Performance" class="themed">Sadzīves pakalpojumi</a></h3>
        <ul>
          <li>Mēbeļu pārvešana dzīves vietu mainot</li>
          <li>Dažādi saimniecības darbi - pēc vienošanās un mūsu iespēju robežās</li>
        </ul>
      </div>
      <div class="secondary-content">
      </div>
    </li>
    <li class="guides-list__item g--half theme--user-input ">
      <div class="primary-content">
        <h3 class="xlarge"><a href="#ignore-click" title="Go to Forms and User Input" class="themed">Pasākumu organizēšana</a></h3>
        <ul>
          <li>Teātru, koncertu, sporta spēļu u.c. pasākumu apmeklējumi</li>
          <li>Atpūtas braucieni</li>
          <li>Ekskursiju plānošana un organizēšana</li>
        </ul>
      </div>
      <div class="secondary-content">
      </div>
    </li>
    <li class="guides-list__item g--half theme--introduction-to-media g--last">
      <div class="primary-content">
        <h3 class="xlarge"><a href="#ignore-click" title="Go to Images, Audio and Video" class="themed">Atpūtas braucieni</a></h3>
        <p>Kad nestrādājam, tad atpūšamies! Ikviens ir laipni aicināts piedalīties mūsu atpūtas braucienos. Sīkākai informācijai skatīt atpūtas braucienu sadaļu.</p>
      </div>
      <div class="secondary-content">
      </div>
    </li>
  </ul>
</div>

{% endblock %}
