{% extends 'base.html' %}
{% block main %}

<div class="guides-section">
  <header class="container">
    <h2 class="xxlarge">Sadzīves pakalpojumi</h2>
    <p>Piedāvājam plašu pakalpojumu klāstu gan privātpersonām, gan juridiskām personām.</p>
  </header>
  <ul class="guides-list container-medium">
    <li class="guides-list__item g--half theme--multi-device-layouts ">
      <div class="primary-content">
        <h3 class="xlarge"><a href="#ignore-click" title="Go to Multi-Device Layouts" class="themed">Dažāda veida uzkopšanas darbi</a></h3>
        <p>Dažāda veida telpu uzkopes darbi - grīdas segumu, paklāju un mīksto mēbeļu tīrīšana, logu, durvju un santehnikas tīrīšana ar profesionāla līmeņa tehniku un tīrīšanas līdzekļiem.</p>
      </div>
      <div class="secondary-content">
      </div>
    </li>
    <li class="guides-list__item g--half theme--performance g--last">
      <div class="primary-content">
        <h3 class="xlarge"><a href="#ignore-click" title="Go to Optimizing Performance" class="themed">Remonta un mājas darbu veikšana</a></h3>
        <p>Ja nav kas salabo tikko salūzušo slēdzeni ārdurvīm, pievieno atvesto tvaiku nosūcēju, pārbīda mēbeles, saliek tikko atvesto jauno sekciju vai varbūt nav kas paveic kādu smagāku darbiņu dārzā vai saskalda malku, - droši piezvaniet mums! Palīdzēsim!</p>
      </div>
      <div class="secondary-content">
      </div>
    </li>
    <li class="guides-list__item g--half theme--user-input ">
      <div class="primary-content">
        <h3 class="xlarge"><a href="#ignore-click" title="Go to Forms and User Input" class="themed">Santehniķa pakalpojumi</a></h3>
        <p>Ak, atkal krāns pil!? Un nav kas nomaina?  Vai varbūt vajag ātri un kvalitatīvi savest kārtībā kanalizāciju vai uzstādīt jaunu dušas kabīni? Bet varbūt jānomaina radiatori vai ūdens skaitītāji?  Piezvaniet! Mēs Jums palīdzēsim!</p>
      </div>
      <div class="secondary-content">
      </div>
    </li>
    <li class="guides-list__item g--half theme--introduction-to-media g--last">
      <div class="primary-content">
        <h3 class="xlarge"><a href="#ignore-click" title="Go to Images, Audio and Video" class="themed">Elektriķa pakalpojumi</a></h3>
        <p>Piedāvājam savos ikdienas darbos izmantot mūsu elektriķa pakalpojumus, jo elektrības ievilkšana, elektroierīču uzstādīšana un citi ar elektrību saistošie darbi prasa īpašas zināšanas un kvalifikāciju, lai paveiktais būtu drošs un kvalitatīvs.</p>
      </div>
      <div class="secondary-content">
      </div>
    </li>
  </ul>
</div>

{% endblock %}
