{% extends 'base.html' %}
{% set active_page = 'kontakti' %}

{% block main %}

<div class="contact">
  <div class="container">
  <div class="contact-info">
    <h2>Kontaktinformācija</h2>
    <div class="g-wide--half">
      <span> Sīkākai informācijai vai pakalpojumu pieteikšanai </span>
      <br/>
      <a class="tap-link large" href="tel:+37126548867">
        +371 26548867
      </a>
    </div>

    <div class="g-wide--half g--last">
      <span>Vai rakstiet uz e-pastu</span>
      <br />
      <a class="tap-link large" href="mailto:info@carolina.lv">
        info@carolina.lv
      </a>
    </div>
  </div>

  <div class="rekviziti">
    <div class="g-wide--2">
      <h4>Rekvizīti</h4>
      <ul>
        <li>SIA „Carolina LV”</li>
        <li>
          Skrundas iela 31a (4. kabinets)
        </li>
        <li>Saldus, Saldus nov., LV-3801</li>
        <li>Reģ.Nr. 48503015892</li>
        <br />
        <li>AS SEB banka</li>
        <li>UNLALV2X</li>
        <li>LV21UNLA0050020545946</li>
      </ul>
    </div>

    <div class="gmap g-wide--2 g-wide--last">
      <a href="https://www.google.com/maps/place/Skrundas+iela+31A,+Saldus,+Saldus+pils%C4%93ta,+LV-3801,+Latvia/@56.6590428,22.4909347,17z/data=!3m1!4b1!4m2!3m1!1s0x46ef9846fe0d7425:0x4748903cfa07a8a?hl=en" alt="Google Maps">
      <img border="0" src="//maps.googleapis.com/maps/api/staticmap?center=Skrundas+31a,Saldus&amp;zoom=15&amp;size=400x250&amp;maptype=roadmap&markers=size:mid%7Ccolor:red%7C56.6590428,22.4909347&key=AIzaSyB8xBIsioYTl1PIMjipNoVkXIhbRzpwalY" alt="Carolina LV Birojs">
      </a>
    </div>
  </div>
  </div>

  <!-- <div class="contact&#45;form g&#45;wide&#45;&#45;full"> -->
  <!--   <h2>Nosūti ziņu</h2> -->
  <!--   <span class="subtitle">Nosūti mums ziņu un atbildēsim cik ātri iespējams</span> -->
  <!--   <form action="/mail" method="post"> -->
  <!--     <label for="contact">Kontaktinformācija</label> -->
  <!--     <input type="text" name="contact" placeholder="Jūsu kontaktinformācija" required/> -->
  <!--     <label for="msg">Ziņa</label> -->
  <!--     <textarea name="msg" rows="8" cols="40" placeholder="Jūsu ziņa" required></textarea> -->
  <!--     <input type="submit" name="submit" class="button" value="Nosūtīt" /> -->
  <!--   </form> -->
  <!-- </div> -->

</div>

{% endblock %}
