{% extends 'base.html' %}
{% block main %}

<div class="main-container">

  <h2 class="xxlarge"> Carolina – Tavs palīgs mājas darbos!  </h2>
  
  <p class="large">Mēs palīdzēsim Jūsu ikdienu padarīt patīkamāku, mājas soli – vieglāku, bet vidi – sakārtotāku!</p>

<p>
Pagātnē ir tie laiki, kad katrā ģimenē vīrietim bija jābūt universālam - jāpaveic visi mājās nepieciešamie tehniskie darbi, bet obligāts katras sievas pienākums - tīrības nodrošināšana un ēst gatavošana. Pateicoties tam, ka mūsu dzīves ritms kļuvis daudz saspringtāks un straujāks, šodien civilizācijas attīstība izvirzījusi izteiktāku pamatprincipu: darīsim katrs to, ko protam vislabāk!
</p>

<p>
Carolina piedāvā saimnieciskus un iejūtīgus palīgus visdažādākajos vīriešu un sieviešu mājas darbos, speciālistus - elektriķi un santehniķi, kā arī palīdzēs rast risinājumu, ja būs vajadzīgs uzkopt māju, pieskatīt Jūsu mazuļus, noorganizēt viesības vai veiksim citus Jūsu saimniecībā vajadzīgos darbus .
</p>

<p>
Mūsu darbinieki strādā rūpīgi, ar atbildības sajūtu un ir konfidenciāli saistībās ar klientu.
</p>

</div>

{% endblock %}
